<a href="https://colab.research.google.com/github/Hafiz-wave/Python-Notes/blob/main/3_String_Indexing_and_Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String Indexing & Python Data Structure**



## **Table of Contents**




# **Section 4: String Indexing**


*   section 4.1: Word Index
*   section 4.2: Index Slicing
*   section 4.3: Concatenate Strings



# **Section 5: Python Data Structure**


## **section 5.1: List**

*   section 5.1.1: Extend Function
*   section 5.1.2: Append Function
*   section 5.1.3: Deleting Items
*   section 5.1.4: Count Funtion
*   section 5.1.5: Remove Function
*   section 5.1.6: Insert Function
*   section 5.1.7: Reverse Function



## **section 5.2: Tuple**



*   section 5.2.1: Comparison Between List And Tuple
*   section 5.2.2: Sort Function In Tuple
*   section 5.2.3: Convert Tuple Into A List



## **section 5.3: Set**


*   section 5.3.1: Defining A Set
*   section 5.3.2: Set Removes Duplicates
*   section 5.3.3 Uppercase and lowercase in Set
*   section 5.3.4: Add Function in A Set
*   section 5.3.5: Remove Function in A Set
*   section 5.3.6: Intersection in A Set
*   section 5.3.7: Union Function in A Set
*   section 5.3.8: Converting A Set Into A list
*   section 5.3.9: Difference Function in A Set


## **section 5.4: Dictionary**


*   section 5.4.1: Defining The Dictionary
*   section 5.4.2: Finding Value of The Key
*   section 5.4.3: Finding The Key Name
*   section 5.4.4: Updating Value of A Key
*   section 5.4.5: Delete Function In Dictionary
*   section 5.4.6: Key is Unique

# **Section 4: String Indexing**


The function of string indexing is to having a refence of something

In [1]:
singer = 'Michael Jackson'

In [2]:
singer

'Michael Jackson'

In [3]:
type(singer)

str

# **Section 4.1: Word Index**

the print (variable[numnber]) will show us the letter on the respective number

singer = "some string value"
Example value for the variable singer
print(singer)
 Prints the entire string

print(singer[2]) # Prints the character at index 2 print(singer[5]) # Prints the character at index 5 print(singer[10]) # Prints the character at index 10 print(singer[13]) # Prints the character at index 13

In [4]:
print (singer)
print (singer[2])
print (singer[5])
print (singer[10])
print (singer[13])

Michael Jackson
c
e
c
o

## **Left to right use positive numbering**

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

## **We can also do it in reverse from right to left (using negative number)**

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

tip: always use index -1 to print last character to make the counting easier

In [5]:
print (singer [-13])
print (singer[10])
print (singer[-2])

c
c
o

# **Print the last, second last and first, and the second of any string**

In [7]:

##Count Function
#counting the frequency of an item in a list
#counting how many time an item appeared in the list
#First
print (anystring[0])
#Second
print (anystring[1])
#Last (will always be -1 to make it easier to count)
print (anytstring[-1])
#Second last (will always be -2)
print (anystring[-2])

NameError: name 'anystring' is not defined

# **ERROR ALERT!!**
The swiggly line underneath "anystring" indicate there will be an error, because the variable "anystring" is not defined yet

# **Section 4.2: Index Slicing**
print (anystring [index to start from : index to stop at])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

In [8]:
print (singer[0:6])
#Oh no? Why didn't it print 'Michael'?

Michae

# **ALERT!!**
The last number in the command print(singer[0:6]), which is index 6, will not be printed. Therefore, ensure to add the next number, as shown below.

In [9]:
print (singer[0:7])

Michael

Another way to write the code is to not mention the index 0

In [10]:
print (singer[:7])

Michael

# **ALERT!!**
Keep in mind in python : the space, comma, question mark etc will have an index

So if we want to print the word 'Jackson'; But we start the input from index 7, note that this will also print the preceding space as well

In [11]:
#printing Jackson (This code will print the empty space as well, because index 7 is a space)
print (singer[7:])

 Jackson

In [12]:
#printing Jackson (without the space)
print (singer[8:])

Jackson

In [13]:
print (singer[8:-1])

Jackso

In [14]:
print (singer[-7:])

Jackson

In [15]:
print (singer[8:15])

Jackson

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

**Slice Notation**

Start: The index where the slice begins. If omitted, it defaults to the beginning of the string (index 0). Stop: The index where the slice ends (but not including this index). Step: The interval between each index in the slice. It specifies how many characters to skip.
**Explanation of [:7:2]**

Start: Not specified, so it defaults to the beginning of the string (index 0). Stop: 7, so the slice includes characters up to, but not including, index 7. Step: 2, so it takes every second character from the start to the stop index.

In [16]:
#Then number 2 index in this code meaning it will skip every 2 character
print (singer[:7:2])

Mcal

In [17]:
print (singer[:7:3])

Mhl

# **Section 4.3: Concatenate Strings**

In [18]:
str1 = 'Big'
str2 = 'Data'

str3 = str1 + str2

print (str3)

BigData

In [19]:

str4 = str2 + str1

str4

'DataBig'

In [20]:
#Printing space
str3 = str1 + ' ' + str2

str3

'Big Data'

In [21]:
#Another way to add space is by adding space next to the string when we defined the variable
str5 = ' Data'

str6 = str1 + str5
str6

'Big Data'

# **ERROR ALERT!!**
Concatenating is only from string to a string

In [22]:
str7 = str1 + 2024
str7

TypeError: can only concatenate str (not "int") to str

In [23]:
str8 = str1 + '2024'
str8

'Big2024'

In [24]:

str9 = '2024'
print (str9)

2024

In [25]:
#Checking data type
type (str9)

str

In [26]:
#Changing a string into integer
str10 = int(str9)
print (str10)

2024

In [27]:
type(str10)

int

# **ERROR ALERT!!**
String cannot be concatenate with float as well

In [28]:
str11 = str1 + 2.2
str11

TypeError: can only concatenate str (not "float") to str

In [29]:
str12 = '2.2'
print (str12)

2.2

In [30]:

type(str12)

str

In [31]:
str13 = str1 + str12
str13

'Big2.2'

Reading the code from the inside of the brackets to the outside

In [32]:
#Read: initally it's an integer 999, then convert to string '999' then convert back to integer 999
test1 = int(str(999))
type(test1)

int

In [33]:
#Read: initally it's a float 999.0, then convert to integer 999 then convert back to string '999'
test2 = str(int(float(999)))
type(test2)

str

# **Section 5: Python Data Structure**



*   List [ ] - data in between square brackert
*   Tuple ( ) - use the parenthesis bracket (the tuple column)
*   Set { } - use curly bracket
*   Dictionary { Key: Value }

**Examples of python data structure**

In [34]:

l1 = [8.8, 'Data Science', 2024, 99, -20]

t1 = (8.8, 'Data Science', 2024, 99, -20)

s1 = {8.8, 'Data Science', 2024, 99, -20}

print (l1)
print(t1)
print (s1)

[8.8, 'Data Science', 2024, 99, -20]
(8.8, 'Data Science', 2024, 99, -20)
{99, 'Data Science', 8.8, 2024, -20}

In [35]:
type(l1)

list

In [36]:
type(t1)

tuple

In [37]:
type(s1)

set

# **Section 5.1: List [ ]**

In [38]:
#index

print(l1[2])
print(l1[2:])

2024
[2024, 99, -20]

**Section 5.1.1: Extend Function**

In [39]:

#extend (adding item to the list)

l1.extend([55,'AI'])
l1

[8.8, 'Data Science', 2024, 99, -20, 55, 'AI']

In [40]:

#If you run the code again, they will add the item again and again in the list and will increase the index of the list
l1.extend([55,'AI'])
l1

[8.8, 'Data Science', 2024, 99, -20, 55, 'AI', 55, 'AI']

# **Section 5.1.2: Append Function**

append (nested list a.k.a a list inside a list)

the nested list is considered one item (having one same index)

In [41]:

#append (nested list a.k.a a list inside a list)

l1.append(['ML',999])
l1

[8.8, 'Data Science', 2024, 99, -20, 55, 'AI', 55, 'AI', ['ML', 999]]

In [42]:
#The nested list is considered one item (having one same index)


print(l1[-1])

['ML', 999]

In [43]:
#how to read? first it reads index -1 = ['ML',999], then we read the next index -1 which is 999
print(l1[-1][-1])

999

In [44]:

l2 = [8.8, 'Data Science', 2024, 99, -20, 55, 'AI', ['ML', 999, ['A','B','C']]]
#print the letter B and C

print(l2[-1][-1][-2:])

['B', 'C']

# **Section 5.1.3: Deleting Items**

In [45]:

#del

del(l1[1])
l1

[8.8, 2024, 99, -20, 55, 'AI', 55, 'AI', ['ML', 999]]

**REMEMBER:**

Each time you add or delete and item on the list, the index will increase or decrease by 1 Ensure to recount the index Delete function only delete the index on the list

In [46]:

del(l1[1])
l1

[8.8, 99, -20, 55, 'AI', 55, 'AI', ['ML', 999]]

In [47]:

#find the index of an item in a list
l1.index('AI')

4

# **Section 5.1.4: Count Function**
counting the frequency of an item in a list

counting how many time an item appeared in the list

In [48]:

#counting the ferq of an item in a list
l3 = [20,200,99,20, 'AI',20,'AI',20]

#count
l3.count(20)

4

In [49]:

l3.count('AI')

2

In [50]:
#checking the index of the string AI
l3.index('AI')

4

# **Section 5.1.5: Remove Function**
Remove the item completely from the list

Difference between remove function and delete function?

delete function only remove the index, but other same item remains but remove function remove all the same name item completely from the list

In [51]:

#remove
l3.remove('AI')

l3

[20, 200, 99, 20, 20, 'AI', 20]

# **Section 5.1.6: Insert Function**
Insert function will insert item into the chosen index which different from extend (extend add item to the end of the list)

In [52]:

#insert
#list.insert(index, item)

l3. insert(4,'AI')
l3

[20, 200, 99, 20, 'AI', 20, 'AI', 20]

# **Section 5.1.7: Reverse Function**
The reverse function will reverse the susunan of the list

In [53]:

#reverse
l3.reverse()
l3

[20, 'AI', 20, 'AI', 20, 99, 200, 20]

In [54]:
#reverse (if you run it again it will reverse the list again)
l3.reverse()
l3

[20, 200, 99, 20, 'AI', 20, 'AI', 20]

# **ERROR ALERT!**

The list is a combination of integer and string so it cannot be sorted, ensure the string is remove first before sorting

In [55]:
#Sort
l3.sort()
l3

TypeError: '<' not supported between instances of 'str' and 'int'

In [57]:
#Removing the string 'AI' from the list
l3.remove('AI')
l3

[20, 20, 99, 200, 20, 20]

In [58]:
#Sort the list
l3.sort()
l3

[20, 20, 20, 20, 99, 200]

In [59]:
#Reversing the sorting from highest to lowest
l3.reverse()
l3

[200, 99, 20, 20, 20, 20]

In [60]:

#length (this function help calculate the length of the list)
len(l3)

6

In [61]:
l4 = [20,0,-5,13,-1,7,4,-3,17,9]

#sort l4 in ascending and descending
#print the highest value and the lowest value

In [62]:
#sort l4 (ascending)
l4.sort()
l4

[-5, -3, -1, 0, 4, 7, 9, 13, 17, 20]

In [63]:
#sort l4 (descending)
l4.reverse()
l4

[20, 17, 13, 9, 7, 4, 0, -1, -3, -5]

In [64]:

#print the highest value and the lowest value
print([l4[0],l4[-1]])

[20, -5]

In [65]:

print('The highest value is:', l4[0])
print('The lowest value is:', l4[-1])

The highest value is: 20
The lowest value is: -5

# **Section 5.2: Tuple**
## **Section 5.2.1: Comparison Between list and tuple**


**List**


*   Mutable: You can change the elements (add, remove, or modify) after the list is created.
*   Syntax: Defined using square brackets []. python my_list = [1, 2, 3]
*   Performance: Slightly slower due to the flexibility of mutability.
*   Use Case: Best when you need a collection of items that may change over time.

**Tuple**



*   Immutable: Once created, you cannot change the elements (no adding, removing, or modifying).
*   Syntax: Defined using parentheses (). python my_tuple = (1, 2, 3)
*   Performance: Faster than lists due to immutability.
*  Use Case: Best when you need a collection of items that should not change, ensuring data integrity.
*   Tuple is slightly faster at processing compared to list


**Key Differences**

**Mutability:**

*   Lists: Mutable
*   Tuples: Immutable

**Syntax:**


*   Lists: []
*   Tuples: ()

**Performance:**


*   Lists: Slower due to overhead of mutable operations.
*   Tuples: Faster due to immutability.


**Use Cases:**


*   Lists: Collections of items that need to be changed or updated.
*   Tuples: Fixed collections of items that should not change after creation


**Example**

**List**

*   my_list = [1, 2, 3]
*   my_list.append(4)
*   print(my_list) # Output: [1, 2, 3, 4]


**Tuple**


*   my_tuple = (1, 2, 3)
*   my_tuple.append(4) # This will raise an AttributeError
*   print(my_tuple) # Output: (1, 2, 3)


**Summary**

Use lists when you need a dynamic collection that may change over time.
Use tuples when you need a fixed collection of items that should remain constant.

In [66]:

t1 = (8.8, ' Data Science', 2024, 99, -20)

print (t1[2])

2024

In [67]:
#nested tuple

t2 = (8.8, 'Data Science',(2024,99),-20)
print (t2[-2][-1])

99

In [68]:
#We can't add item into the existing tuple, so we have to create a new variable to add new item

t3 = ('AI','Python')
tnew = t2 + t3
tnew

(8.8, 'Data Science', (2024, 99), -20, 'AI', 'Python')

# **Section 5.2.2: Sort Function in Tuple**

In [69]:
t4 = (5,88,-20,99,30,8.8,0,5)

#sorted
sort_t4= sorted(t4)

print(sort_t4)

#This function turns the tuple to a list then sorted the list that's the reason why the result have square brackets []

[-20, 0, 5, 5, 8.8, 30, 88, 99]

# **Section 5.2.3: Convert tuple into a list**
Other method to change tuple into a list instead of using sort function

In [70]:

list_t4 = list(t4)
list_t4

[5, 88, -20, 99, 30, 8.8, 0, 5]


# **Section 5.2.4: Convert list into tuple again**

In [71]:
tuple_list_t4 = tuple(list_t4)
tuple_list_t4

(5, 88, -20, 99, 30, 8.8, 0, 5)

In [72]:

t5 = ('AI','Data',2024,'ML')
list_new_items = [888, 'Python', 'DL']

#create a new tuple of the above tuple and list

In [73]:
#convert tuple to list
list_t5 = list(t5)
list_t5

['AI', 'Data', 2024, 'ML']

In [74]:

#adding new items
list_t5.extend(list_new_items)
list_t5

['AI', 'Data', 2024, 'ML', 888, 'Python', 'DL']

In [75]:

#converting list back to tuple
tuple_list_t5 = tuple(list_t5)
tuple_list_t5

('AI', 'Data', 2024, 'ML', 888, 'Python', 'DL')

# **Section 5.3: Set { }**
Set is similar to a list except, set will sort item in ascending order or sequence


# **Section 5.3.1: Defining A Set**

In [76]:

s1 = {8,8, 'Data Science', 99, 2.2, 'Python'}
type(s1)

set

In [77]:

print(s1)

{2.2, 99, 'Data Science', 8, 'Python'}

# **Section 5.3.2: Set Removes Duplicates**

In [78]:

s2 = {20,-10,0,5,99,-10,20,2.2,88}
print(s2)

{0, 2.2, 99, 20, 5, -10, 88}

**why is the output 'print(s2)' above different from the output 's2' below?**

**Answer:**


*   Firstly set will remove duplicates (noticed the duplicates for 20,-10)
*   Secondly 'print(s2)' will give output in arbitrary order, may appeared unodered
*   calling the set promp s2 will call it to it's nature in the ascending order

In [79]:
#Obeserve difference between 'print(s2)' command and just 's2' command
s2 #the result is in ascending order

{-10, 0, 2.2, 5, 20, 88, 99}

# **Section 5.3.3: Uppercase and lowercase in Set**
Set will sort from uppercase alphabet to lowercase in alphabatical order

In [80]:
s3 = {'data','ai','ML','python','big data'}
s3

{'ML', 'ai', 'big data', 'data', 'python'}

In [81]:

s4 = {'data', 'ai', 'ml', 'python', 'big data'}
s4

{'ai', 'big data', 'data', 'ml', 'python'}

In [82]:

s5 = {'Data', 'ai', 'ML', 'Python', 'Big data'}
s5

{'Big data', 'Data', 'ML', 'Python', 'ai'}

# **Section 5.3.4: Add Function in A Set**

In [83]:
#add function
s5.add('deep learning')
s5

{'Big data', 'Data', 'ML', 'Python', 'ai', 'deep learning'}

In [84]:

s2
s2.add(10)
s2

{-10, 0, 2.2, 5, 10, 20, 88, 99}

# **Section 5.3.5: Remove Function in A Set**

In [85]:

# Remove function
s2.remove(88)
s2

{-10, 0, 2.2, 5, 10, 20, 99}

# **Section 5.3.6: Intersection in a set**
Intersection in a set is used to find common elements between two sets.

In [86]:

#intersection
#common item in 2 sets

set_a = {1,3,5,7,8,9,10,11,12,13,14}  #actual result
set_b = {1,2,3,4,5,6,7,8,9,10,11}  #predicted result

set_a.intersection(set_b)

{1, 3, 5, 7, 8, 9, 10, 11}

# **Section 5.3.7: Union Function in a set**
Combining two sets

In [87]:
#union

set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

# **Section 5.3.8: Converting a set into a list**

In [88]:

list_a = [1,2,3,4,1,2,5]
set_list_a = set(list_a)
set_list_a

{1, 2, 3, 4, 5}

In [89]:

#write a code to find the highest value in a set of numbers by using set only

list_b = [100,-99, 101, 88, 55.6, 0]
set_list_b = set(list_b) #Converting list into a set
set_list_b

{-99, 0, 55.6, 88, 100, 101}

In [90]:
print(max(set_list_b)) #Finding the highest value in the set

101

# **Section 5.3.9: Difference Function in a set**
The difference or symbol '-' function for sets is used to find the elements that are present in one set but not in another. It returns a new set containing the difference between two or more sets.

**Method 1: Using '-' symbol to find difference between a set**

In [91]:

difference_set = set_a - set_b
print(difference_set)

{12, 13, 14}

**Method 2: using '.difference' function to find difference between a set**

In [92]:

print(set_a)
print(set_b)

{1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

**Difference also use to identify misprediction**

set_a = represents the actual results

set_b = represents the predicted results

**Finding Misprediction:**

set_a.difference(set_b) will find items that are in set_a but not in set_b. These items are considered mispredictions because they are actual results that the model failed to recognize.

In [93]:
#items in set a but not in set b  is considered misprediction

set_a.difference(set_b)  #actual result but, model cant recognize the result

{12, 13, 14}

**Irrelevant Difference:**

set_b.difference(set_a) finds items that are in set_b but not in set_a. These items are not relevant to identifying mispredictions of the actual results, as they indicate predictions made by the model that are not present in the actual results.

In [94]:

set_b.difference(set_a)  #not related to actual result and not correctly predicted

{2, 4, 6}

# **Section 5.4: Dictionary {Key:Value}**



*   Each item represent 2 things, {key:value}.
*   Dictionary: {key1:value1, key2;value2,.... keyn:valuen}
*   Function: items refer to other item. data can present other data.
*   Example - name: mobile number
*   Index of the item for dictionary is the key(unique value)

# **Section 5.4.1: Defining the dictionary**

In [95]:

#Defining d1
d1 = {'AI':99, 8.8:['ML', 'DL'], (1,2,3):['Big Data']}
d1

{'AI': 99, 8.8: ['ML', 'DL'], (1, 2, 3): ['Big Data']}

In [96]:

type(d1)

dict

# **Section 5.4.2: Finding value of the key**

In [97]:
#Finding the value of the key
d1[(1,2,3)]

['Big Data']

In [98]:

#calling the values of the keys
d1.values()

dict_values([99, ['ML', 'DL'], ['Big Data']])

# **Section 5.4.3: Finding the key name**

In [99]:

#calling the keys
d1.keys()

dict_keys(['AI', 8.8, (1, 2, 3)])

# **Section 5.4.4: Updating Value of A Key**

In [100]:

#change value of a key

d1['AI'] = -10 #updated key
d1

{'AI': -10, 8.8: ['ML', 'DL'], (1, 2, 3): ['Big Data']}

# **Section 5.4.5: Delete function in dictionary (.pop)**

In [101]:

#delete an item.

d1.pop((1, 2, 3))
d1

{'AI': -10, 8.8: ['ML', 'DL']}

# **Section 5.4.6: Key is Unique**

**ERROR ALERT!!!**



*   Key must be unique (immutable)
*   Here we can see that d2 defines a list [ ] as a key -- { [1,2] :99} (WRONG)
*   Where it should have been a tuple ( ) (because tuple is immutable) -- {(1,2):99] (CORRECT)

In [102]:

d2 = {[1,2]:99, (100,200):['maryam']}
d2

#error: because list is mutable. it is not unique. key must be unique

TypeError: unhashable type: 'list'

**The correct way to define a key:**

In [103]:

d3 = {(1,2):99, (100,200):['maryam']}
d3

{(1, 2): 99, (100, 200): ['maryam']}