<a href="https://colab.research.google.com/github/Hafiz-wave/Python-Notes/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction To Python**

# **Table of Contents**
##Section 1: Pandas Library
1. section 1.1: How to import Pandas library
2. section 1.2: How to read .csv file
1. section 1.3: How to read first 5 rows
2. section 1.4: How to first 10 rows
1. section 1.5: How to read last 10 rows
2. section 1.6: Discovering how many rows and columns
##Section 2: Data Types
1. section 2.1: Python Data Types
2. section 2.2: Boolena Data Types
## Section 3: Expressions, Variables, Conditions
1. section 3.1: Expressions
2. section 3.2: Variables
3. section 3.3: Conditions

# **Section 1: Pandas Library**

Section 1.1: How to import Pandas libary

In [ ]:
import pandas as pd

Section 1.2: How to read .csv file

In [ ]:
df=pd.read_csv('NFLX.csv')

Section 1.3: How to read first 5 rows

In [ ]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-16,119.800003,123.000000,118.089996,122.639999,122.639999,13181000
1,2015-12-17,123.970001,126.349998,122.419998,122.510002,122.510002,17284900
2,2015-12-18,120.849998,122.190002,117.919998,118.019997,118.019997,17948100
3,2015-12-21,119.510002,119.589996,115.660004,116.629997,116.629997,11670000
4,2015-12-22,117.300003,117.430000,114.860001,116.239998,116.239998,9689000

Section 1.4: How to read first 10 rows

In [ ]:

df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-16,119.800003,123.000000,118.089996,122.639999,122.639999,13181000
1,2015-12-17,123.970001,126.349998,122.419998,122.510002,122.510002,17284900
2,2015-12-18,120.849998,122.190002,117.919998,118.019997,118.019997,17948100
3,2015-12-21,119.510002,119.589996,115.660004,116.629997,116.629997,11670000
4,2015-12-22,117.300003,117.430000,114.860001,116.239998,116.239998,9689000
5,2015-12-23,116.910004,118.559998,115.779999,118.160004,118.160004,9324300
6,2015-12-24,118.220001,118.800003,117.300003,117.330002,117.330002,3531300
7,2015-12-28,117.260002,117.349998,113.849998,117.110001,117.110001,8424300
8,2015-12-29,118.190002,119.599998,116.919998,119.120003,119.120003,8159200
9,2015-12-30,118.949997,119.019997,116.430000,116.709999,116.709999,8149700

Section 1.5: How to read last 10 rows

In [ ]:
df.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
997,2019-12-03,302.220001,307.359985,301.880005,306.160004,306.160004,4992800
998,2019-12-04,308.429993,308.429993,303.269989,304.320007,304.320007,3512100
999,2019-12-05,305.269989,306.480011,298.809998,302.859985,302.859985,4615500
1000,2019-12-06,304.700012,307.850006,302.600006,307.350006,307.350006,4457800
1001,2019-12-09,307.350006,311.489990,302.440002,302.500000,302.500000,5748400
1002,2019-12-10,296.119995,298.940002,292.019989,293.119995,293.119995,10476100
1003,2019-12-11,294.489990,299.429993,294.200012,298.929993,298.929993,5589800
1004,2019-12-12,295.670013,299.170013,295.059998,298.440002,298.440002,4766600
1005,2019-12-13,298.500000,301.799988,297.250000,298.500000,298.500000,3879700
1006,2019-12-16,300.850006,305.709991,298.630005,304.209991,304.209991,4658900

Section 1.6: Check how many rows and columns in the data set

Read: (no. of rows, no. of columns)

In [ ]:

df.shape

(1007, 7)

# **Section 2.1: Python Data Types**

1. String: words or anything in single quotes (') or double quotes (")
2. Integer: Whole numbers without a decimal point.
1. Float: Real numbers with a fractional component (decimal point)

In [ ]:
'Data Science'

8.8

2024

2024

In [ ]:

type('Data Science')

str

In [ ]:

type(8.8)

float

In [ ]:
type(2024)

int

# int,float,complex

In [ ]:
#complex
b = 2
A = 3+5*b

print(A)

13

In [ ]:
!python --version

Python 3.10.12

In [ ]:
type('2024')

str

# Section 2.2: Boolean Data Types

1. True
2. False
Is boolean data types considered as python data types?

No, because all programming languange use boolean data types

In [ ]:

type(True)

bool

In [ ]:

type(False)

bool

# **ERROR ALERT!**
Python is considered a CASE sensitive language

**REMEMBER! ** Ensure the first letter is uppercase (True/False) If you write the first letter in lowercase (true/false), it will result in an error.

In [ ]:

type(true)

NameError: name 'true' is not defined

# **Section 3: Expressions, Variables, Conditions**

subtraction: -

*   addition: +
*   division: /
*   floor division //
*   multiplication: *
*   modulus: %
*   exponent: **

# Section 3.1: Expressions

Definition:



*   Components: An expression can include literals (constant values), variables, operators, and function calls.
*   Evaluation: When an expression is evaluated, it produces a value.
*   Use Cases: Expressions are used in assignments, conditional statements, loops, and function arguments.

Example how similar code gave out different data types

In [ ]:

x = 8
z = 2

y = x / z

y

4.0

In [ ]:
type(y)

float

The result above is considered as float while the result below considered as an interger because remember that python read the last code

In [ ]:
y = x // z

y

4

In [ ]:

type(y)

int

# **Why is the same formula gave out different data type?**

Explanation

The difference in data types arises because of how these operators work:

/ (Division): Always returns a float.

// (Floor Division): Returns an integer if both operands are integers. If either operand is a float, the result is a float.

The modulus operator (%)
The modulus operator (%) in Python is used to find the remainder of the division of one number by another. It is a part of arithmetic expressions and plays a significant role in various programming scenarios.

Function: Computes the remainder of the division of two numbers.
Syntax: a % b returns the remainder when a is divided by b.
Use Cases: To determine if a number is even or odd.

In [ ]:

b1 = 10%3
b2 = 10%2
b3 = 11%2
b4 = 11%3

print(b1)
print(b2)
print(b3)
print(b4)

1
0
1
2

# **Explanation (This part can be a bit confusing)**

The modulus operator % returns the remainder of a division operation. Let's break down each calculation:

b1 = 10 % 3 Divide 10 by 3. The quotient is 3 (because 3 * 3 = 9, which is the largest multiple of 3 that is less than or equal to 10).
The remainder is 10−9=1.
Therefore, b1 = 1.

b2 = 10 % 2 Divide 10 by 2. The quotient is 5 (because 5 * 2 = 10). The remainder is 10−10=0. Therefore, b2 = 0.

b3 = 11 % 2 Divide 11 by 2. The quotient is 5 (because 5 * 2 = 10, which is the largest multiple of 2 that is less than or equal to 11). The remainder is 11−10=1. Therefore, b3 = 1.

b4 = 11 % 3 Divide 11 by 3. The quotient is 3 (because 3 * 3 = 9, which is the largest multiple of 3 that is less than or equal to 11). The remainder is 11−9=2. Therefore, b4 = 2.

# **Section 3.2: Variables**
Definition:



*   Naming: Variables have names that should be descriptive to indicate what kind of data they store. i.e a,b,c,x,y,z, orange, apple, data, df
*   Assignment: The = operator is used to assign a value to a variable.
*   Dynamic Typing: In Python, the type of a variable is determined by the value assigned to it, and it can change type over time.






" %whos " command to check all your variables

In [ ]:

%whos

Variable   Type         Data/Info
---------------------------------
A          int          13
b          int          2
b1         int          1
b2         int          0
b3         int          1
b4         int          2
df         DataFrame                Date        O<...>\n[1007 rows x 7 columns]
pd         module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
x          int          8
y          int          4
z          int          2

# **Note**

If you add more variables later in the coding process, the %whos command will automatically add the new variables and generate the variables in alphabetical order

In [ ]:
Abc = 123

In [ ]:

type (Abc)

int

In [ ]:
#Now Recheck the Variable using " %whos " command
#you will see the variable Abc (int) is added to the new list


%whos

Variable   Type         Data/Info
---------------------------------
A          int          13
Abc        int          123
b          int          2
b1         int          1
b2         int          0
b3         int          1
b4         int          2
df         DataFrame                Date        O<...>\n[1007 rows x 7 columns]
pd         module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
x          int          8
y          int          4
z          int          2

# **Section 3.3: Conditions**



*   equal: ==
*   not equal: !=
*   greater than: >
*   less than: <
*   greater than or equal to: >=
*   less than or equal to: <=

**Difference between one " = " sign and double " == " sign**

In Python, = and == serve different purposes and are used in different contexts. Here’s a detailed explanation

**Assignment Operator (=)**

The single equals sign = is the assignment operator. It is used to assign a value to a variable. i.e: t = 5, t is a variable


**Equality Operator (==)**

The double equals sign == is the equality operator. It is used to compare two values and check if they are equal. The result of this comparison is a boolean value (True or False).

In [ ]:

year = 2024

year == 2024

True

In [ ]:

year != 2025

True

In [ ]:

year == 2026

False